# Tested at:
# Ubuntu 16.04.4
---
- name: Preparing host
  hosts:  c1 # set hosts (НЕ надо запускать инсталяцию zabbix-agent на сервере zabbix-a)
  sudo: yes
#  vars:
#    zabbix_agent_server: 1.1.1.1

  pre_tasks:

#    # Если раскоментить переменная zabbix_agent_server переопределиться значением из defaults/main.yml
#    - name: Include vars
#      include_vars: "{{ playbook_dir }}/defaults/main.yml"

    - name: Adding tunnel user
      sudo: yes
      user:
        name: tunnel
        comment: tunnel

    - name: Updating packages
      sudo: yes
      raw: " apt-get update -y"

    - name: Restrict Ping
      sudo: yes
      raw: " iptables -A INPUT -p icmp -j DROP"

    - name: Installing application packages
      sudo: yes
      apt: name={{item}} state=latest
      with_items:
           - screen
           - git
           - software-properties-common
           - htop
           - pv
           - make
           - zsh
           - gcc
           - libssl-dev

    - name: Trying to install docker
      sudo: yes
      raw: " apt-get install docker.io -y"
      ignore_errors: True

  roles:
#    - zabbix_agent
    - { role: docker, ignore_errors: yes }
    - docker_compose

  post_tasks:

#    - name: Restarting zabbix-agent
#      service: name=zabbix-agent state=restarted

    - name: Creating docker group
      sudo: yes
      ignore_errors: yes
      raw: "groupadd docker"

    - name: Adding user to docker group
      sudo: yes
      ignore_errors: yes
      raw: " sudo usermod -aG docker $USER"

    - name: Creating docker_persistent_dir
      raw: "mkdir -p {{ docker_persistent_dir }}"

    - name: Set permissions for docker_persistent_dir
      raw: "chmod 777 -R {{ docker_persistent_dir }}"

    - name: Deploy complete
      debug:
        msg: "{{ ansible_host }} Deploy complete"

    - name: Enabling firewall
      sudo: yes
      raw: "ufw --force enable"

    - name: Allow 22
      sudo: yes
      raw: "ufw allow 22"
