version: '3.3'
services:
    gunicorn:
        build: .
        container_name: gunicorn
        restart: always
        ports:
            - "5000:5000"
        dns:
            - "8.8.8.8"
            - "8.8.4.4"
        volumes:
            - ./src:/code/src
            - ./etc:/code/etc
            - /home/deploy/onetimevpn/docker_persistent/var:/code/var
        command: bash -c "cd /code && gunicorn --name=gunicorn --workers=2 src.rest.services.http_api.application -b 0.0.0.0:5000"
        depends_on:
            - mongo
            - redis
        network_mode: host

    celery:
        build: .
        container_name: celery
        restart: always
        network_mode: host
        dns:
            - "8.8.8.8"
            - "8.8.4.4"
        volumes:
            - ./src:/code/src
            - ./etc:/code/etc
            - /home/deploy/onetimevpn/docker_persistent/var:/code/var
        command: bash -c "cd /code && python3.6 -m celery -A src.rest.services.lazy_evaluation.celery_application worker -l info"
        depends_on:
            - mongo
            - rabbit
            - redis

    celery_beat:
        build: .
        container_name: celery_beat
        restart: always
        network_mode: host
        dns:
            - "8.8.8.8"
            - "8.8.4.4"
        volumes:
            - ./src:/code/src
            - ./etc:/code/etc
            - /home/deploy/onetimevpn/docker_persistent/var:/code/var
        command: bash -c "cd /code && python3.6 -m celery -A src.rest.services.lazy_evaluation.celery_application beat -l info"
        depends_on:
            - mongo
            - rabbit
            - redis
            - celery

    celery_flower:
        build: .
        container_name: celery_flower
        restart: always
        network_mode: host
        dns:
            - "8.8.8.8"
            - "8.8.4.4"
        volumes:
            - ./src:/code/src
            - ./etc:/code/etc
            - /home/deploy/onetimevpn/docker_persistent/var:/code/var
        command: bash -c "cd /code && flower --address=0.0.0.0 --port=8888 --basic_auth=admin:admin --broker=amqp://guest:guest@127.0.0.1:5672"


    tg_feedback_bot:
        build: .
        restart: always
        container_name: tg_feedback_bot
        network_mode: host
        dns:
            - "8.8.8.8"
            - "8.8.4.4"
        volumes:
            - ./src:/code/src
            - ./etc:/code/etc
            - /home/deploy/onetimevpn/docker_persistent/var:/code/var
        command: bash -c "cd /code && python3.6 src/rest/services/tg_feedback_bot/tg_feedback_bot.py -l info"
        depends_on:
            - mongo
            - rabbit
            - redis

    nginx:
        image: nginx
        network_mode: host
        restart: always
        container_name: "nginx"
        volumes:
            - ./src:/code/src
#            - ./etc:/code/etc
#            - ./var:/code/var
            - ./opt/deploy/docker/files/staging/ssl/nginx-selfsigned.key:/ssl/key.key
            - ./opt/deploy/docker/files/staging/ssl/nginx-selfsigned.crt:/ssl/crt.crt
            - ./opt/deploy/docker/files/staging/site/nginx.conf:/etc/nginx/nginx.conf
            - /home/deploy/onetimevpn/docker_persistent/var/log/nginx:/var/log/nginx
        ports:
            - "80:80"
            - "443:443"
        depends_on:
            - gunicorn
#        environment:
#            - NGINX_HOST=foobar.com
#            - NGINX_PORT=80
#        command: [nginx-debug, '-g', 'daemon off;']

    redis:
        image: 'bitnami/redis:latest'
        network_mode: host
        restart: always
        container_name: "redis"
        environment:
            - ALLOW_EMPTY_PASSWORD=yes
            - REDIS_MASTER_HOST=0.0.0.0
        ports:
            - '6379:6379'
        volumes:
            # надо дать права на папку
            # sudo rm ~/onetimevpn/docker_persistent/redis -R && mkdir -p ~/onetimevpn/docker_persistent/redis && chmod 666 -R ~/onetimevpn/docker_persistent/redis
            - /home/deploy/onetimevpn/docker_persistent/redis/data:/bitnami/redis/data

    mongo:
        image: 'bitnami/mongodb:latest'
        container_name: "mongo"
        restart: always
        volumes:
            # надо дать права на папку
            # mkdir -p ~/onetimevpn/docker_persistent/mongo/data/db && chmod 666 -R ~/onetimevpn/docker_persistent/mongo/data/db
            - /home/deploy/onetimevpn/docker_persistent/mongo/data/db:/data/db
        ports:
            - "27017:27017"
        network_mode: host
        environment:
            - MONGODB_ROOT_PASSWORD=root
            - MONGODB_USERNAME=onetimevpn
            - MONGODB_PASSWORD=onetimevpn
            - MONGODB_DATABASE=onetimevpn

    rabbit:
        image: "rabbitmq:3-management"
        hostname: "rabbit"
        restart: always
        network_mode: host
        container_name: "rabbit"
        environment:
            RABBITMQ_ERLANG_COOKIE: "njkasd982364csd"
            RABBITMQ_DEFAULT_USER: "guest"
            RABBITMQ_DEFAULT_PASS: "guest"
            RABBITMQ_DEFAULT_VHOST: "/"
        ports:
            - "0.0.0.0:15672:15672"
            - "0.0.0.0:5672:5672"
        # Отключены т.к. уже есть в контейнере
#        volumes:
#            - "./enabled_plugins:/etc/rabbitmq/enabled_plugins"
#            - "./rabbitmq.config:/etc/rabbitmq/rabbitmq.config:ro"
#            - "./autocluster-0.4.1.ez:/usr/lib/rabbitmq/lib/rabbitmq_server-3.5.5/plugins/autocluster-0.4.1.ez"

