# Tested at:
# Ubuntu 16.04
# Ubuntu 18.04
---
- name: Preparing host
  hosts:  c1
  sudo: yes

  pre_tasks:

    - name: Adding tunnel user
      sudo: yes
      user:
        name: tunnel
        comment: tunnel

    - name: Updating packages
      sudo: yes
      raw: " apt-get update -y"

    - name: Restrict Ping
      sudo: yes
      raw: " iptables -A INPUT -p icmp -j DROP"

    - name: Installing application packages
      sudo: yes
      apt: name={{item}} state=latest
      with_items:
           - screen
           - git
           - software-properties-common
           - htop
           - pv
           - make
           - zsh
           - gcc
           - libssl-dev

    - name: Trying to install docker
      sudo: yes
      raw: " apt-get install docker.io -y"
      ignore_errors: True

  roles:
    - { role: docker, ignore_errors: yes }
    - docker_compose

  post_tasks:

    - name: Creating docker group
      sudo: yes
      ignore_errors: yes
      raw: "groupadd docker"

    - name: Adding user to docker group
      sudo: yes
      ignore_errors: yes
      raw: "usermod -aG docker $USER"

    - name: Creating dirs
      raw: "mkdir -p {{ ansistrano_deploy_to }} && mkdir -p {{ docker_persistent_dir }} && mkdir -p {{ vpn_data_dest_dir }}"

    - name: Chown dirs
      raw: "chown {{ansible_user}}:{{ansible_user}} -R {{ ansistrano_deploy_to }} && chown {{ansible_user}}:{{ansible_user}} -R  {{ docker_persistent_dir }} && chown {{ansible_user}}:{{ansible_user}} -R  {{ vpn_data_dest_dir }}"

    - name: Deploy complete
      debug:
        msg: "{{ ansible_host }} Deploy complete"

    - name: Enabling firewall
      sudo: yes
      raw: "ufw --force enable"

    - name: Allow 22
      sudo: yes
      raw: "ufw allow 22"
