# Tested at:
# Ubuntu 16.04
# Ubuntu 18.04

---
- name: Restart container
  hosts: c1
  tasks:

  - name: Getting current branch
    shell: "cd {{ansistrano_deploy_to}}/repo && git describe --all"
    register: branch

  - name: Getting commit hash
    shell: "cd {{ansistrano_deploy_to}}/repo && git rev-parse HEAD"
    register: commit_hash

  - name: Creating build_info.json
    shell: 'echo "{\n  \"branch\": \"{{branch.stdout}}\", \n  \"commit\": \"{{commit_hash.stdout}}\", \n  \"datetime\": \"{{ ansible_date_time.iso8601 }}\"\n}" > {{ build_info_json_path }}'

  - name: Restart container
      sudo: yes
      raw: "cd \"$(dirname \"{{ docker_compose_dest }}\")\" && docker-compose down && docker-compose up -d --build"
