# Tested at:
# Ubuntu 16.04
# Ubuntu 18.04

---
- name: Restart container
  hosts: c1
  tasks:
    - name: Restart container
      sudo: yes
      raw: "cd \"$(dirname \"{{ docker_compose_dest }}\")\" && docker-compose down && docker-compose up -d --build"
