# обновляет приложение

# Tested at:
# Ubuntu 16.04
# Ubuntu 18.04

---
- name: Update app
  hosts: c1
  sudo: yes

  pre_tasks:

    - name: Deploy started
      debug:
        msg: "{{ ansible_host }} deploy started"

  roles:
    - deploy

  post_tasks:

    - name: Creating sub dirs
      sudo: yes
      raw: "mkdir -p {{ docker_persistent_dir }}/var/log && mkdir -p {{ docker_persistent_dir }}/var/tmp_output"

    - name: Send docker-compose.yml
      copy:
        src: "{{ docker_compose_src }}"
        dest: "{{ docker_compose_dest }}"

    - name: Send local_settings.py
      copy:
        src: "{{ local_settings_src }}"
        dest: "{{ local_settings_dest }}"

    - name: Enabling firewall
      sudo: yes
      raw: "ufw --force enable"

    - name: UFW Allow
      sudo: yes
      raw: "ufw allow {{ item }}"
      with_items: "{{ ufw_allow_port }}"

