version: '2'
services:
    gunicorn:
        container_name: openvpn
        restart: always
        build:
            context: ../../
            dockerfile: $PWD/Dockerfile
        volumes:
            - ../../src:/code/src
            - ../../etc:/code/etc
            - ../..//opt/deploy/files/staging/vpn/openvpn/c1/openvpn:/etc/openvpn
            - ../../var:/code/var
        ports:
            - 8080       # API MANAGEMENT
        network_mode: host
        command: bash -c "cd /code && gunicorn --name=gunicorn --workers=1 src.application -b 127.0.0.1:5000 --threads 1 --worker-class sync"

    nginx:
        image: nginx
        network_mode: host
        container_name: "nginx"
        restart: always
        volumes:
            - ../nginx.conf:/etc/nginx/nginx.conf
            - /var/apps/onetimevpn/docker_persistent/var/log/nginx:/var/log/nginx
        ports:
            - "0.0.0.0:8080:8080"
        depends_on:
            - gunicorn
