version: '2'
services:
    openvpn:
        container_name: openvpn
        restart: always
        build:
            context: ../../
            dockerfile: $PWD/Dockerfile
        image: openvpn
        dns:
            - "8.8.8.8"
            - "8.8.4.4"
        volumes:
            - ../../src:/code/src
            - ../../etc:/code/etc

            - ../../opt/deploy/files/staging/vpn/openvpn/c1/openvpn:/etc/openvpn

            - ../../var:/code/var
            - ../../var/log/nginx:/var/log/nginx
            - ../../var/log/supervisord:/var/log/supervisord
        ports:
            - 0.0.0.0:443:1194       # OPENVPN
            - 0.0.0.0:8080:8080     # API MANAGEMENT
        privileged: true
