version: '2'
services:
    openvpn:
        container_name: openvpn
        restart: always
        build:
            context: ../../
            dockerfile: $PWD/Dockerfile
        volumes:
            - ../../src:/code/src
            - ../../etc:/code/etc
            - /etc/openvpn:/etc/openvpn
            - ../../var:/code/var
            - ../../var/log/nginx:/var/log/nginx
        ports:
            - 8080       # API MANAGEMENT
        network_mode: host
        command: bash -c "cd /code && gunicorn --name=gunicorn --workers=2 src.rest.services.http_api.application -b 0.0.0.0:8080"
